.layerImage, .layerHover{
    position: absolute;
    height: auto;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    transition: all 0.3s;
}

.layerHover{
    z-index: 1;
    cursor: pointer;
}

#diplomaArea{
    clip-path: polygon(41% 26%, 41% 40%, 52% 40%, 52% 28%);
}

#screenCardsArea{
    clip-path: polygon(35% 28%, 35% 50%, 43% 50%, 43% 30%);

}

#bogoParcheArea{
    clip-path: polygon(43% 40%, 43% 51%, 51% 50%, 51% 39%);
}

#computerArea{
    clip-path: polygon(65% 42%, 64% 49%, 61% 50%, 69% 51%, 75% 50%, 75% 42%);
}

#pianoArea{
    clip-path: polygon(33% 29%, 30% 33%, 18% 38%, 12% 44%, 7% 50%, 8% 57%, 12% 60%, 13% 66%, 13% 71%, 15% 72%, 15% 59%, 20% 61%, 24% 64%, 24% 73%, 26% 78%, 27% 77%, 27% 64%, 30% 65%, 32% 75%, 38% 74%, 36% 63%, 41% 62%, 41% 71%, 43% 72%, 44% 71%, 43% 61%, 48% 59%, 48% 56%, 47% 55%, 47% 51%, 38% 50%, 37% 47%, 32% 40%, 38% 31%);
}

#globeArea{
    clip-path: polygon(54% 48%, 51% 53%, 49% 55%, 49% 62%, 49% 74%, 57% 77%, 59% 76%, 60% 74%, 59% 58%, 62% 55%, 58% 49%);
}

#cardArea {
    clip-path: polygon(40% 70%, 41% 73%, 44% 72%, 43% 69%);
}

#photoArea {
    clip-path: polygon(63% 71%, 68% 72%, 70% 68%, 65% 68%);
}

#pianoArea:hover ~ #piano,
#globeArea:hover ~ #globe,
#cardArea:hover ~ #card,
#photoArea:hover ~ #photo,
#computerArea:hover ~ #computer,
#diplomaArea:hover ~ #diploma,
#screenCardsArea:hover ~ #screenCards,
#bogoParcheArea:hover ~ #bogoParche{
    filter: drop-shadow(0px 0px 8px rgb(23, 149, 199));
}

#pianoArea:active ~ #piano,
#globeArea:active ~ #globe,
#cardArea:active ~ #card,
#photoArea:active ~ #photo,
#computerArea:active ~ #computer,
#diplomaArea:active ~ #diploma,
#screenCardsArea:active ~ #screenCards,
#bogoParcheArea:active ~ #bogoParche{
    filter: drop-shadow(0 0 0 transparent);
    opacity: 0.5;
}


@media only screen and (max-width: 400px) {
    .layerImage, .layerHover{
        width:700px;
    }
}

@media only screen and (min-width: 401px) {
    .layerImage, .layerHover{
        width:880px;
    }
}

@media only screen and (min-width: 700px) {
    .layerImage, .layerHover{
        width:1200px;
    }

}

@media only screen and (min-width: 1000px) {
    .layerImage, .layerHover{
        width:1480px;
    }
}

@media only screen and (min-width: 1300px) {
    .layerImage, .layerHover{
        width:calc(100% + 190px);
    }
}