.titleContainer{
    position: absolute;
    top: 1.5em;
    left: 1.8em;

    display: flex;
    flex-direction: row;
    align-items: center;

    z-index: 98;
    transition: 0.7s ease-in-out 0.3s;
}

.titleContainer.hidden{
    top:0.6em;
    opacity:0;
    pointer-events: none;
}

.burgerButton {
    display: flex;
    align-items: center;
    justify-content: center;

    width:25px;
    margin-right: 1.4em;

    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.8));

    transition: transform 0.6s linear;
    cursor: pointer;
}

.burgerButton.turned{
    transform: rotate(-180deg);
}

.burgerButton:hover{
    opacity:0.2;
}


.title{  
    display: flex;
    flex-direction: column;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
}

.title h1{
    font-size:1.4em;
    margin:-0.1em;
}

.title p{
    margin:0;
}

.menu {
    position: absolute;
    top: 5em;
    left:1.8em;

    display: flex;
    flex-direction: column;
    align-items: self-start;

    z-index: 98;
    transition: 0.6s ease-in-out;
}

.menu.hidden{
    top:0;
    left: 1em;
    opacity:0;
    pointer-events: none;
    transform: scale(0.8);
}

.menuItem {
    padding: 0.5em 1em;
    border-radius: 0.7em;
    margin-bottom: 0.2em;

    border: 2px solid rgba(255, 255, 255, 0.4);

    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
    font-weight: bold;
    font-size: 1em;

    cursor: pointer;
}

.menuItem:hover{
    background-color: rgba(255, 255, 255, 0.3);
}
