.signature{
    position: fixed;
    bottom: 10px;
    right: 10px;
    width:120px;
    z-index: 98;
}

.languageButton{
    position: fixed;
    top: 15px;
    right: 15px;
    width:35px;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    z-index: 100;
}

.languageButton:hover{
    transform: scale(0.95);
    opacity: 0.8;
}